{% extends "home.html" %}
{% block title %}Gregory Fryns - Image conversion{% endblock %}
{% block main-contents %}

        <h2>Image upload</h2>

        <form action="{% url 'imageconv:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.upload_image.label_tag }}{{ form.upload_image.help_text }}</p>
            <p>{{ form.upload_image }}{{ form.upload_image.errors }}</p>

            <p><input type="submit" value="Upload image" /></p>
        </form>

        {% if image_tempfile != None %}
        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#default">No filter</a></li>
                {% for filter in applied_filters %}
                    <li><a href="#{{ filter }}">{{ filter }}</a></li>
                {% endfor %}
            </ul>
         
            <div class="tab-content">
                <div id="default" class="tab active">
                    <p>{{image_name}}{{image_ext}}</p>
                    <img src="{{ image_tempfile }}" alt="{{image_name}}" />
                </div>

                {% for filter in applied_filters %}
                    <div id="{{ filter }}" class="tab">
                        <p>{{ image_name }}_{{ filter }}{{image_ext}}</p>
                         <!-- <img src="{{ image_tempfile }}_filters/{{image_name}}_{{ filter }}{{ image_ext }}" alt="{{ image_name }}_{{ filter }}{{image_ext}}" /> -->
                         <img src="{{ image_tempfile }}_{{ filter }}{{ image_ext }}" alt="{{ image_url }}_{{ filter }}{{ image_ext }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}