{% extends "home.html" %}
{% block title %}Gregory Fryns - Image conversion{% endblock %}
{% block main-contents %}

        <h2>Image upload</h2>

        <form action="{% url 'imageconv:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.upload_image.label_tag }}{{ form.upload_image.help_text }}</p>
            <p>{{ form.upload_image }}{{ form.upload_image.errors }}</p>

            <p><input type="submit" value="Upload image" /></p>
        </form>

        {% if image_s3_dir != None %}
        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#default">No filter</a></li>
                {% for filtr in applied_filters %}
                    <li><a href="#{{ filtr }}">{{ filtr }}</a></li>
                {% endfor %}
            </ul>
         
            <div class="tab-content">
                <div id="default" class="tab active">
                    <p>{{image_name}}{{image_extension}}</p>
                    <!-- <img src="{{image_local_path}}" alt="{{image_name}}{{image_extension}}" /> -->
                    <img src="{{image_s3_dir}}/{{image_name}}{{image_extension}}" alt="{{image_name}}{{image_extension}}" />
                </div>

                {% for filtr in applied_filters %}
                    <div id="{{filtr}}" class="tab">
                        <p>{{ image_name }}_{{ filtr }}{{image_extension}}</p>
                         <img src="../static/images/spinner.gif" target="{{image_s3_dir}}/{{image_name}}_{{filtr}}{{image_extension}}" alt="{{image_name}}_{{ filtr}}{{image_extension}}" />
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% endblock %}