{% extends "home.html" %}
{% block title %}Gregory Fryns - Image conversion{% endblock %}
{% block main-contents %}

        <h2>Image upload</h2>

        <form action="{% url 'imageconv:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.upload_image.label_tag }}{{ form.upload_image.help_text }}</p>
            <p>{{ form.upload_image }}{{ form.upload_image.errors }}</p>

            <p><input type="submit" value="Upload image" /></p>
        </form>
        <div class="latest_picture">
        {% if image_url != None %}
        <img src="{{image_url}}" alt="{{image_name}}" />
        <p>Image name: {{image_name}}{{image_ext}}</p>
        <p>Image size: {{image_size}}</p>
        {% endif %}

        {% if filter_path != None %}
        <img src="{{filter_path}}" />
        {% endif %}
        </div>

{% endblock %}