<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded images >
    {% if images %}
        <ul>
        {% for image in images %}
            <li><a href="{{ image.docfile.url }}">{{ image.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No images.</p>
    {% endif %}
-->
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'imageconv:list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.upload_image.label_tag }} {{ form.upload_image.help_text }}</p>
            <p>
                {{ form.upload_image.errors }}
                {{ form.upload_image }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        <div>
        <p>uploaded image name: {{image.name}}</p>
        <p>uploaded image size: {{image.size}}</p>
        <p>uploaded image content type: {{image.content_type}}</p>
        </div>
        <div>
        <p>max upload size: {{max_size}}</p>
        </div>

         {% if error_msg != None %}
        <p>error_msg</p>
        {% endif %}   
    </body>
</html>