/* Tabs */
.tabs {
    width:100%;
    display:inline-block;
}
 
    /* Tab Links */
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:5px 5px 0px 0px;
			background: #d5eaf0;
            font-size:14px;
            /*font-weight:600;*/
            color:#4c4c4c;
            transition:all linear 0.15s;
			text-decoration:none;
        }
 
        .tab-links a:hover {
			/*background:#71b7ca;*/
    		-moz-box-shadow: 0px 0px 10px #307082;
    		-webkit-box-shadow: 0px 0px 10px #307082;
    		box-shadow: 0px 0px 10px #307082;
        }
 
    li.active a, li.active a:hover {
        background:#307082;
        color:#fff;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
		border:2px solid #ccc; 
        border-radius:5px;
        box-shadow:1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
