{% extends "home.html" %}
{% block title %}Gregory Fryns - Poll details: {{ poll.question }}{% endblock %}

{% block main-contents %}
	<div class="poll-detail">
		<h2>{{ poll.question }}</h2>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form class="vote-form" action="{% url 'polls:vote' poll.id %}" method="post">
		{% csrf_token %}
		<fieldset>
		{% for choice in poll.choice_set.all %}
			<div class="vote-item">
			    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
			    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
			</div>
		{% endfor %}
		<div class="vote-item">
			<input type="submit" value="Vote">
		</div>
		</fieldset>
		</form>
	</div>
{% endblock %}