<html>
<body>
<h1>Welcome</h1>

<form action="{% url 'welcomepage:home' %}" method="get">
    <label>Zip code</label>
    <input type="text" name="zipcode" value="{{zipcode}}" /><br />
    <label>Country code</label>
    <input type="text" name="countrycode" value="{{country_code}}" /><br />
    <input type="submit" value="Update location" />
</form>

<img src="http://openweathermap.org/img/w/{{weather_report.iconId}}.png" alt="{{weather_report.description}}" height="50" width="50"><br />
Location: {{weather_report.location}}<br />
Sunrise: {{weather_report.sunrise}}<br />
Sunset: {{weather_report.sunset}}<br />
</body>
</html>
