{% extends "home.html" %}
{% block title %}Gregory Fryns - Weather report{% endblock %}

{% block main-contents %}
    <h2>Current weather</h2>

    <form class="weather-form" action="{% url 'weather:report' %}" method="get">
        <fieldset>
            <div class="input-item">
                <label>Zip code</label><br />
                <input class="input-zip-code" type="text" name="zipcode" value="{{zipcode}}" placeholder="ZIP">
            </div>
            <div class="input-item">
                <label>Country code</label><br />
                <input class="input-country-code" type="text" name="countrycode" value="{{country_code}}" placeholder="CC">
            </div>
            <div class="input-item">
                <input class="input-submit" type="submit" value="Update location">
            </div>

        </fieldset>
    </form>

    {% if error_msg != None %}
        <p class="error_msg">{{error_msg}}</p>
    {% else %}
        <p>
        <img src="{{icon_url}}" alt="{{description}}" height="50" width="50"><br />
        Location: {{location}}<br />
        Temperature: {{temp_celsius}}°C - {{temp_fahrenheit}}°F<br />
        Description: {{description}}<br />
        </p>
    {% endif %}
{% endblock %}
