{% extends "home.html" %}
{% block title %}Gregory Fryns - Weather report{% endblock %}

{% block main-contents %}
    <h2>Current weather</h2>

    <form class="weather-form" action="{% url 'weather:report' %}" method="get">
        <fieldset>
            <div class="input-item">
                <label>Zip code</label><br />
                <input class="input-zip-code" type="text" name="zipcode" value="{{zipcode}}" placeholder="94025">
            </div>
            <div class="input-item">
                <label>Country code</label><br />
                <input class="input-country-code" type="text" name="countrycode" value="{{country_code}}" placeholder="US">
            </div>
            <div class="input-item">
                <input class="input-submit" type="submit" value="Update location">
            </div>

        </fieldset>
    </form>

    {% if weather_report.error_msg != None %}
        <p>{{weather_report.error_msg}}</p>
    {% else %}
        <p>
        <img src="http://openweathermap.org/img/w/{{weather_report.iconId}}.png" alt="{{weather_report.description}}" height="50" width="50"><br />
        Location: {{weather_report.location}}<br />
        Temperature: {{weather_report.temperature_celsius}}°C - {{weather_report.temperature_fahrenheit}}°F<br />
        </p>
    {% endif %}
{% endblock %}
