{% extends "base_home.html" %}
{% block title %}Gregory Fryns - Home page{% endblock %}

{% block intro %}
	<section class="intro" id="gfryns-intro">
		<header role="banner">
			<h1><a href="/">Gregory Fryns</a></h1>
		</header>

		<div class="summary" id="gfryns-summary">
			<p>Highly qualified computer science engineer with more than 7 years experience in customer support and process improvement.</p>
		</div>

	</section>
{% endblock %}

{% block main-contents %}
	<div class="about" id="about-me">
		<h2>About me</h2>
		<p>Hi, and welcome to my webpage!</p>
		<p>I'm Gregory, a computer science engineer specialized in customer support and process improvement. I am passionate about helping out people and doing all I can to help them being successful.</p>
		<p>This page is my playground. I use it to practice with the technologies I've been learning and, above all, have fun! If you're interested in seeing the nuts and bolts of the applications available on this page, feel free to have a look at the source code on my <a href="https://github.com/gregoryfryns/personal_website" title="source code on Github">github account</a>!</p>
		<object class="pdf-file" id="resume-pdf" data="static/docs/resume-gregoryfryns.pdf" type="application/pdf">
			<p>You can also download my resume by clicking <a href="static/docs/resume-gregoryfryns.pdf">here</a>!</p>
		</object>	
	</div>
{% endblock %}

{% block footer %}
	<footer class="footer">
		<a href="http://validator.w3.org/check/referer" title="Check the validity of this site&#8217;s HTML" class="footer-item">HTML</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site&#8217;s CSS" class="footer-item">CSS</a>
		<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike." class="footer-item">CC</a>
		<a href="https://github.com/gregoryfryns/personal_website" title="View source code on Github" class="footer-item">GH</a>
	</footer>
{% endblock %}

{% block sidebar %}
	<aside class="sidebar">
		<div class="sidebar-wrapper">
			<div class="apps-selection" id="apps-selection">
				<h2 class="select">Select an application</h2>
				<nav>
					<ul>
					<li><a href="{% url 'home' %}" class="application-name"><span>About me</span></a></li>
					<li><a href="{% url 'polls:index' %}" class="application-name"><span>Polls</span></a></li>
					<li><a href="{% url 'weather:report' %}" class="application-name"><span>Weather report</span></a></li>
					<li><a href="{% url 'imageconv:upload' %}" class="application-name"><span>Image filters</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</aside>
{% endblock %}
