{% extends "base_home.html" %}
{% block title %}Gregory Fryns - Home page{% endblock %}

{% block intro %}
	<section class="intro" id="gfryns-intro">
		<header role="banner">
			<h1><a href="/">Gregory Fryns</a></h1>
		</header>

		<div class="summary" id="gfryns-summary">
			<p>Highly qualified computer science engineer with more than 7 years experience in customer support and process improvement.</p>
		</div>

	</section>
{% endblock %}

{% block main-contents %}
	<div class="skills">
		<h2>Skill 1</h2>
		<p>Description 1</p>
	    <h2>Skill 2</h2>
		<p>Description 2</p>
	</div>

	<div class="experience">
		<h2>Process Improvement Specialist</h2>
	    <h3>Amadeus</h3>
	    <h3>January 2012 - September 2014</h3>
		<p>Amadeus is a leading transaction processor for the global travel and tourism industry. This company provides real-time search, pricing, booking, ticketing and other processing solutions to various customers including airlines, hotels, tour operators, insurers, car rental and railway companies, ferry and cruise lines as well as individual travellers directly.</p>
		<p>Following my experience as a Web Services Implementation Analyst I was offered new responsibilities that aimed at improving the implementation team's efficiency, in order to maximize the customer satisfaction and reduce the implementation costs.</p>
	    <ul>
		    <li>Drove the redesign of incident management and ordering processes.</li>
			<li>Organized and dispensed a 20 persons team upskilling in Stockholm.</li>
			<li>Reviewed and updated online documentation pages.</li>
			<li>Designed a web application to manage the implementation projects.</li>
	    </ul>
	</div>

	<div class="experience">
		<h2>Customer Implementation Analyst</h2>
	    <h3>Amadeus</h3>
	    <h3>October 2009 - December 2011</h3>
		<p>As a Customer Implementation Analyst my role was to provide assistance to the customers using the web services offered by Amadeus.</p>
	    <ul>
		    <li>Provided consultancy and support to customers implementing the Amadeus Web Services.</li>
			<li>Investigated tickets opened by the Amadeus Web Services customers (Tier 2).</li>
	    </ul>
	</div>

	<div class="experience">
		<h2>Service Support Expert</h2>
	    <h3>Orange - France Telecom</h3>
	    <h3>October 2009 - December 2011</h3>
		<p>Amadeus is a leading transaction processor for the global travel and tourism industry. This company provides real-time search, pricing, booking, ticketing and other processing solutions to various customers including airlines, hotels, tour operators, insurers, car rental and railway companies, ferry and cruise lines as well as individual travellers directly.</p>
		<p>As a Service Support Expert, I provided support to the Customer Care, Supervision and Change Management teams for the shared services within the Orange group.</p>
	    <ul>
			<li>Prepared operational teams for handling new services: organized trainings, updated internal documentation.</li>
			<li>Designed a tool to generate weekly reports 50% quicker.</li>
			<li>Created new KPIs and provided ad-hoc reports to help drive taskforces.</li>
			<li>Handed over acquired knowledge in a nearshoring project.</li>
	    </ul>
	</div>

	<div class="experience">
		<h2>Software engineer</h2>
	    <h3>Antibody-Adviser AISBL</h3>
	    <h3>May 2015 - Present</h3>
		<p>Finding the most appropriate antibody for an experiment often leads to waste time and money. Antibody-adviser.org helps researchers in this grail quest by providing an easy access to a personalized digital antibody book.</p>
	    <ul>
			<li>Designed, developed and deployed a RESTful API for www.antibody-adviser.org.</li>
			<li>Created JavaScript to integrate antibodies reviews in client websites.</li>
	    </ul>
	</div>

	<div class="experience">
		<h2>Senior Consultant in IT technologies</h2>
	    <h3>Alten</h3>
	    <h3>July 2007 - September 2014</h3>
		<p>Short description</p>
	    <ul>
			<li>Supervised team of 15 consultants.</li>
	    </ul>
	</div>

	<div class="education">
		<h2>Master’s degree in computer science engineering (M.Eng.)</h2>
	    <h3>University of Liege</h3>
	    <h3>June 2007</h3>
	</div>

	<div class="continued_education">
		<h2>ITIL v3 Foundation certification</h2>
	    <h3>EXIN, License c.893194</h3>
	    <h3>January 2009</h3>
	</div>
	
{% endblock %}

{% block footer %}
	<footer class="footer">
		<a href="http://validator.w3.org/check/referer" title="Check the validity of this site&#8217;s HTML" class="validate-html">HTML</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site&#8217;s CSS" class="validate-css">CSS</a>
		<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike." class="license">CC</a>
		<a href="https://github.com/gregoryfryns/personal_website" title="View source code on Github" class="github">GH</a>
		<p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
</p>
	</footer>
{% endblock %}

{% block sidebar %}
	<aside class="sidebar">
		<div class="sidebar-wrapper">
			<div class="apps-selection" id="apps-selection">
				<h2 class="select">Select an application</h2>
				<nav>
					<ul>
					<li><a href="{% url 'home' %}" class="application-name"><span>Home</span></a></li>
					<li><a href="{% url 'polls:index' %}" class="application-name"><span>Polls</span></a></li>
					<li><a href="{% url 'weather:report' %}" class="application-name"><span>Weather report</span></a></li>
					<li><a href="{% url 'imageconv:upload' %}" class="application-name"><span>Image filters</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</aside>
{% endblock %}
